:root {
  --money-gray-4: #e5e5e5;
  --money-gray-5: #505050;
  --money-gray-30: #b2b2b2;

  --color-white: #ffffff;
  --color-black: #000000;

  --main-font-color: #242424;
  --money-red: #c4181f;

  --lighter: 200;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --bold: 700;
  --black: 900;
}
