<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" integrity="sha512-rqQltXRuHxtPWhktpAZxLHUVJ3Eombn3hvk9PHjV/N5DMUYnzKPC1i3ub0mEXgFzsaZNeJcoE0YHq0j/GFsdGg==" crossorigin="anonymous" referrerpolicy="no-referrer" /> --}}
</head>
<body>
  {{> ../partials/header}}

  <div class="text-container">
    <p class="text-primary">This is content 一段文字</p>
    <div class="image-holder"></div>
  </div>

  <img class="html-img" src="@/img/_app_store_btn.svg" alt="">
  <img class="html-img" src="@/img/google_play.svg" alt="">


  {{> ../partials/footer}}
</body>
</html>